
.card-item-name h2 {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 1.8em;
}

.header {
	display: flex;
	padding-bottom: 5px;
	margin-bottom: 5px;
	align-items: center;
	height: 100%;
	.card-item-name {
		padding-left: 5px;
		width: 100%;
	}
	span {
		width: 45px;
		height: 100%;
		text-align: center;
	}
	img {
		border-radius: 4px;
		border: 1px solid #949494
	}
}

main {
	.info {
		span {
			font-weight: bold;
			color: #000000d5;
		}
	}

	table { border-top: 0; border-bottom: 0; margin: 0; }
}

.descricao-chat-card,
.caracteristicas-chat-card {
	margin: 6px 0;
	p {
		margin: 4px 0;
		font-size: 13px;
		line-height: 1.4em;
		font-weight: normal;
	}
	transition: 0.3s;
	summary { 
		padding-left: 5px;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}
}

.descricao-chat-card:hover,
.caracteristicas-chat-card:hover {
	background-color: #c0c0c0;
}

.info-span {
	padding: 0px 4px;
	border: 1px solid #818181;
	border-radius: 4px;
	font-size: 12px;
}

.card-buttons {
	margin-top: 6px;
	button {
		margin-right: 4px;
		width: 100%;
	}
}

.card-footer {
	margin-top: 8px;
	text-align: left;
	font-size: 12px;
	color: #555555;
	span {
		margin: 0 1px;
	}
}