<div class="dialog-credits no-orange-hyperlink">
	<p>
		A seguir a lista de algumas das pessoas que participaram do desenvolvimento do sistema para o Naruto 'Shinobi no Sho' RPG no
		Foundry Virtual Tabletop.
	</p>
	<p>
		Não deixando de citar os devidos créditos a Diego "Fesant" Silva e aos demais contribuidores do livro de regras.
		Para mais informações acesse o <a href="https://narutod8.weebly.com/" target="_blank">site oficial</a>
		 ou <a href="https://discord.gg/8vmJ7Mt" target="_blank">discord do sistema</a>.
	</p>
	<ul>
		<li>
			<strong
				>Wendel Henrique (<i class="fa-brands fa-twitter"></i>
				<a href="https://twitter.com/EuSouOWendel" target="_blank">eusouowendel</a>): </strong
			>desenvolvedor do sistema de Naruto 'Shinobi no Sho' para o Foundry;
		</li>
	</ul>
	<h4><strong>Colaboradores</strong></h4>
	<ul>
		<li>
			<strong
				>Arthur (<i class="fa-brands fa-discord"></i>
				<a href="" target="_blank">vallen_allond</a>): </strong
			>revisão e comissão do sistema;
		</li>
	</ul>
</div>