@use "sass:meta";

// Import utilities.
@use 'utils/typography';
@use 'utils/colors';
@use 'utils/mixins';
@use 'utils/variables';

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';

/* Sidebar */
@use 'components/sidebar';

/* Dice */
@use 'components/dice';

/* Area Template Application */
@use 'components/areaTemplate';

// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles limited to shinobiNoSho sheets */
.shinobiNoSho {

  @include meta.load-css( 'components/forms');
  @include meta.load-css( 'components/resource');
  @include meta.load-css( 'components/items');
  @include meta.load-css( 'components/effects');

	/* Chat */
	@include meta.load-css( 'components/itemcard');
}